<% while item_cat.children.size > 0 %>
  <%="#{item_cat.cid}:#{item_cat.name}:#{item_cat.parent_cid}"%>
  <% first_child_cat = item_cat.children.first %>
  <div id='item_cat_level<%=item_cat.id%>'>
    <%= select_tag "select_cid_#{item_cat.id}",options_from_collection_for_select(item_cat.children, 'id', 'name'),:onchange => remote_function(:update => "item_cat_level#{first_child_cat.id}",:method => :get,:success => "set_cid()",:with => "'id=' + value",:url => {:controller =>:item_cats,:action => :children}) %>
  </div>
  <% item_cat = first_child_cat %>
<% end %>

<script type='text/javascript'>
  //设置默认值
  <% if !item_cat.is_parent %>
    $('taobao_book_cid').value = '<%=item_cat.id%>'
  <% end %>
  //成功时调用设置选择的子类cid

  set_cid = function(){
    <% if !item_cat.is_parent %>
        $('taobao_book_cid').value = '<%=item_cat.id%>'
      <% end %>
  };
</script>
