<tr class="<%= cycle("odd", "even") %>">
  <td>
    <%=image_tag "ajax.gif",:alt => "上传中...",:size =>"16x16",:id => "ajax_#{douban_book.isbn13}",:style => 'display : none;'%>
  </td>
  <td>
    <%=image_tag "ok.gif",:alt => "成功",:size =>"16x16",:id => "ok_#{douban_book.isbn13}",:style => 'display : none;'%>
  </td>
  <td>
    <%=image_tag "failure.gif",:alt => "失败",:size =>"16x16",:id => "failure_#{douban_book.isbn13}",:style => 'display : none;'%>
  </td>


  <td>
    <%= check_box_tag douban_book.isbn13 %>
  </td>
  <td>
    <%= douban_book.image.blank? ? "" : image_tag(douban_book.image,:class => 'item-img') %>
  </td>
  <td style='width : 300px;'>
    <h3><%=douban_book.title%></h3>
    <div>
      <%= douban_book.to_s %>
    </div>
  </td>
  <td>
    <%= label_tag "txt_price_#{douban_book.isbn13}",'价格' %>
    <%= text_field_tag "txt_price_#{douban_book.isbn13}",douban_book.price,:class => 'short-text' %>
  </td>
  <td>

    <%= label_tag "txt_num_#{douban_book.isbn13}",'数量' %>
    <%= text_field_tag "txt_num_#{douban_book.isbn13}",100,:class => 'short-text' %>
  </td>

  <td>
    <%= link_to_function('查看详细',"Modalbox.show($('book_#{douban_book.isbn13}'),{title : '#{douban_book.title}',width : 700,height : 600})",:class => 'sexybutton sexysimple sexygreen') %>
    <%= render "douban_book_show",:book => nil ,:douban_book => douban_book  %>
  </td>
</tr>          
<script type='text/javascript'>
  //添加监听事件
  $('txt_price_<%= douban_book.isbn13 %>').observe('change',book_price_num_listener.bindAsEventListener(window,'<%=douban_book.isbn13 %>','price'));
  $('txt_num_<%=douban_book.isbn13 %>').observe('change',book_price_num_listener.bindAsEventListener(window,'<%=douban_book.isbn13 %>','num'));
</script>
