
  <div class="group">
    <%= f.label :iid, t("activerecord.attributes.taobao_book.iid", :default => "Iid"), :class => :label %>
    <%= f.text_field :iid, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :num_iid, t("activerecord.attributes.taobao_book.num_iid", :default => "Num iid"), :class => :label %>
    <%= f.text_field :num_iid, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :detail_url, t("activerecord.attributes.taobao_book.detail_url", :default => "Detail url"), :class => :label %>
    <%= f.text_field :detail_url, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :title, t("activerecord.attributes.taobao_book.title", :default => "Title"), :class => :label %>
    <%= f.text_field :title, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :nick, t("activerecord.attributes.taobao_book.nick", :default => "Nick"), :class => :label %>
    <%= f.text_field :nick, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :item_type, t("activerecord.attributes.taobao_book.item_type", :default => "Item type"), :class => :label %>
    <%= f.text_field :item_type, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :cid, t("activerecord.attributes.taobao_book.cid", :default => "Cid"), :class => :label %>
    <%= f.text_field :cid, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :desc, t("activerecord.attributes.taobao_book.desc", :default => "Desc"), :class => :label %>
    <%= f.text_area :desc, :class => 'text_area' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :pic_url, t("activerecord.attributes.taobao_book.pic_url", :default => "Pic url"), :class => :label %>
    <%= f.text_field :pic_url, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :num, t("activerecord.attributes.taobao_book.num", :default => "Num"), :class => :label %>
    <%= f.text_field :num, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :valid_thru, t("activerecord.attributes.taobao_book.valid_thru", :default => "Valid thru"), :class => :label %>
    <%= f.text_field :valid_thru, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :list_time, t("activerecord.attributes.taobao_book.list_time", :default => "List time"), :class => :label %>
    <%= f.datetime_select :list_time, :class => 'datetime_select' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :delist_time, t("activerecord.attributes.taobao_book.delist_time", :default => "Delist time"), :class => :label %>
    <%= f.datetime_select :delist_time, :class => 'datetime_select' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :stuff_status, t("activerecord.attributes.taobao_book.stuff_status", :default => "Stuff status"), :class => :label %>
    <%= f.text_field :stuff_status, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :price, t("activerecord.attributes.taobao_book.price", :default => "Price"), :class => :label %>
    <%= f.text_field :price, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :post_fee, t("activerecord.attributes.taobao_book.post_fee", :default => "Post fee"), :class => :label %>
    <%= f.text_field :post_fee, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :express_fee, t("activerecord.attributes.taobao_book.express_fee", :default => "Express fee"), :class => :label %>
    <%= f.text_field :express_fee, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :ems_fee, t("activerecord.attributes.taobao_book.ems_fee", :default => "Ems fee"), :class => :label %>
    <%= f.text_field :ems_fee, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :has_discount, t("activerecord.attributes.taobao_book.has_discount", :default => "Has discount"), :class => :label %>
    <%= f.check_box :has_discount, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :freight_payer, t("activerecord.attributes.taobao_book.freight_payer", :default => "Freight payer"), :class => :label %>
    <%= f.text_field :freight_payer, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :has_invoice, t("activerecord.attributes.taobao_book.has_invoice", :default => "Has invoice"), :class => :label %>
    <%= f.check_box :has_invoice, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :has_warranty, t("activerecord.attributes.taobao_book.has_warranty", :default => "Has warranty"), :class => :label %>
    <%= f.check_box :has_warranty, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :has_showcase, t("activerecord.attributes.taobao_book.has_showcase", :default => "Has showcase"), :class => :label %>
    <%= f.check_box :has_showcase, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :modified, t("activerecord.attributes.taobao_book.modified", :default => "Modified"), :class => :label %>
    <%= f.datetime_select :modified, :class => 'datetime_select' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :auto_repost, t("activerecord.attributes.taobao_book.auto_repost", :default => "Auto repost"), :class => :label %>
    <%= f.check_box :auto_repost, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :approve_status, t("activerecord.attributes.taobao_book.approve_status", :default => "Approve status"), :class => :label %>
    <%= f.text_field :approve_status, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :postage_id, t("activerecord.attributes.taobao_book.postage_id", :default => "Postage"), :class => :label %>
    <%= f.text_field :postage_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :product_id, t("activerecord.attributes.taobao_book.product_id", :default => "Product"), :class => :label %>
    <%= f.text_field :product_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :auction_point, t("activerecord.attributes.taobao_book.auction_point", :default => "Auction point"), :class => :label %>
    <%= f.text_field :auction_point, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :outer_id, t("activerecord.attributes.taobao_book.outer_id", :default => "Outer"), :class => :label %>
    <%= f.text_field :outer_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :is_virtural, t("activerecord.attributes.taobao_book.is_virtural", :default => "Is virtural"), :class => :label %>
    <%= f.check_box :is_virtural, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :is_taobao, t("activerecord.attributes.taobao_book.is_taobao", :default => "Is taobao"), :class => :label %>
    <%= f.check_box :is_taobao, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :is_ex, t("activerecord.attributes.taobao_book.is_ex", :default => "Is ex"), :class => :label %>
    <%= f.check_box :is_ex, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :is_timing, t("activerecord.attributes.taobao_book.is_timing", :default => "Is timing"), :class => :label %>
    <%= f.check_box :is_timing, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :is_3D, t("activerecord.attributes.taobao_book.is_3D", :default => "Is 3d"), :class => :label %>
    <%= f.check_box :is_3D, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :score, t("activerecord.attributes.taobao_book.score", :default => "Score"), :class => :label %>
    <%= f.text_field :score, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :volume, t("activerecord.attributes.taobao_book.volume", :default => "Volume"), :class => :label %>
    <%= f.text_field :volume, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :one_station, t("activerecord.attributes.taobao_book.one_station", :default => "One station"), :class => :label %>
    <%= f.check_box :one_station, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :second_kill, t("activerecord.attributes.taobao_book.second_kill", :default => "Second kill"), :class => :label %>
    <%= f.text_field :second_kill, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :auto_fill, t("activerecord.attributes.taobao_book.auto_fill", :default => "Auto fill"), :class => :label %>
    <%= f.text_field :auto_fill, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :state, t("activerecord.attributes.taobao_book.state", :default => "State"), :class => :label %>
    <%= f.text_field :state, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :city, t("activerecord.attributes.taobao_book.city", :default => "City"), :class => :label %>
    <%= f.text_field :city, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :type, t("activerecord.attributes.taobao_book.type", :default => "Type"), :class => :label %>
    <%= f.text_field :type, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", taobao_books_path, :class => "button" %> 
</div>