<div class="block">
  <h3>请录入ISBN号码来查询书籍</h3>
  <ul class='navigation'>

    <li><%=link_to 'ISBN号一般为13位,也有10位,在书籍的背面可以查到','#' %></li>
    <li><%=link_to '您可录入多个ISBN号来一次查询多本书籍','#' %></li>
    <li><%=link_to '您可将查询到的书籍信息批量上传到您的淘宝店铺,免去手工录入的繁琐','#' %></li>
    <li><%=link_to '您也可将查询到的书籍信息暂时收藏,需要时再上传','#' %></li>
    <li><%=link_to '系统采用具有海量书籍信息的数据源,保证了查询的准确性','#' %></li>
  </ul>
</div>
