<% douban_book = @douban_books[taobao_book.id]%>
<script type='text/javascript'>
  //缓存客户端taobao_book数组
  taobao_books.set('<%=taobao_book.id%>',<%= taobao_book.to_json %>);
</script>

<tr class="<%= cycle("odd", "even") %>">
  <td>
    <% if !douban_book.blank?%>
      <%=image_tag "ajax.gif",:alt => "上传中...",:size =>"16x16",:id => "ajax_#{douban_book.isbn13}",:style => 'display : none;'%>
      <%=image_tag "ok.gif",:alt => "成功",:size =>"16x16",:id => "ok_#{douban_book.isbn13}",:style => 'display : none;'%>
      <%=image_tag "failure.gif",:alt => "失败",:size =>"16x16",:id => "failure_#{douban_book.isbn13}",:style => 'display : none;'%>
    <% end%>
    <%=image_tag "ajax.gif",:alt => "上传中...",:size =>"16x16",:id => "ajax_#{taobao_book.id}",:style => 'display : none;'%>
    <%=image_tag "ok.gif",:alt => "成功",:size =>"16x16",:id => "ok_#{taobao_book.id}",:style => 'display : none;'%>
    <%=image_tag "failure.gif",:alt => "失败",:size =>"16x16",:id => "failure_#{taobao_book.id}",:style => 'display : none;'%>
  </td>

  <td>
    <%= check_box_tag taobao_book.id %>
  </td>
  <td>
    <%= taobao_book.pic_url.blank? ? "" : image_tag(taobao_book.pic_url,:class => 'item-img') %>
  </td>
  <td style='width : 300px;'>
    <h3>
      <%= taobao_book.title %>
    </h3>
    <div>
      <%= taobao_book.item_pvs_desc %>
    </div>
  </td>
  <td>
    <%= douban_book.blank? ? '' : link_to_function('豆瓣上也有它...',Modalbox.show($('book_#{douban_book.isbn13}'),{title : '#{douban_book.title}',width : 700,height : 600})",:class => 'sexybutton sexysimple sexygreen') %>
    <%= render "shared/douban_book_show",:taobao_book =>taobao_book ,:show_operate => true,:douban_book => douban_book if !douban_book.blank?  %>
  </td>
  <td>
    价格
    <%= text_field_tag "price_#{taobao_book.id}",taobao_book.price,:class => 'short-text' %>
  </td>
  <td>
    数量
    <%= text_field_tag "num_#{taobao_book.id}",taobao_book.num,:class => 'short-text' %>
  </td>
</tr>          
<script type='text/javascript'>
  //添加监听事件
$('price_<%= taobao_book.id %>').observe('change',book_price_num_listener.bindAsEventListener(window,'<%=taobao_book.id %>','price'));
$('num_<%=taobao_book.id %>').observe('change',book_price_num_listener.bindAsEventListener(window,'<%=taobao_book.id %>','num'));
</script>
