<% form_remote_tag :url => {:action => :upload_item},:html => {:class => "uniForm"} do %>
  <fieldset class="blockLabels">
    <div class ='ctrlHolder' id='item_cat_wrap'>
      <%= label_tag :seller_cats_id,"书籍所属分类:" %>
      <%=render "item_cats/item_cat_children",:item_cat => ItemCat.find(ItemCat::BOOK_CID)%>
    </div>

    <div class='ctrlHolder' >
      <%= label_tag :seller_cats_id,"所在地:" %>
      <%= select_tag :seller_cats_id,options_states_for_select,:onchange => remote_function(:update => 'cities_wrap',:method => :get,:with => "'id=' + value",:url => {:controller =>:local_areas,:action => :children})%>
      <div id='cities_wrap' >
        <%= render "local_areas/cities"%>
      </div>

    </div>
    <div class='ctrlHolder' >
      <%= label_tag :seller_cats_id,"运费" %>
    </div>

    <div class='ctrlHolder' >
      <%= radio_button_tag :seller_cats_id,"" %>卖家承担运费
    </div>

    <div class='ctrlHolder' >
      <%= radio_button_tag :seller_cats_id,"" %>
      买家承担运费
    </div>
    <div class='ctrlHolder' >
      <%= label_tag :seller_cats_id,"开始时间" %>
    </div>

    <div class='ctrlHolder' >
      <%= radio_button_tag :seller_cats_id,7 %>立刻
    </div>
    <div class='ctrlHolder' >
      <%= radio_button_tag :seller_cats_id,7 %>设定
      <%= calendar_date_select_tag "list_time",Date.today,:popup => :force,:time => true%>
    </div>
    <div class='ctrlHolder' >
      <%= radio_button_tag :seller_cats_id,7 %>放入仓库
    </div>
    <div class='ctrlHolder' >
      <%= label_tag :seller_cats_id,"所属店铺类目:" %>
      <%= select_tag :seller_cats_id,option_groups_seller_cats_for_select %>
    </div>

    <div class='ctrlHolder' >
      <%= check_box_tag :seller_cats_id,7 %>橱窗推荐
    </div>
  </fieldset>
  <div class='actions-bar'>
    <%= submit_tag "上传到淘宝",:class => 'sexybutton sexysimple sexygreen sexybig' %>
  </div>
<% end%>
