<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", taobao_books_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_taobao_book_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">宝贝信息列表</h2>
    <div class="inner">
      <div class="actions-bar border-bottom" id='selector_wrap'>
        <div id='selector'>
          <%= link_to_function "全选","selector.select_all(true)" %>
          &nbsp;|&nbsp;
          <%= link_to_function "不选","selector.select_all(false)"  %>
        </div>
        <span id='select_des'>选定书籍,去豆瓣查查看...</span>
        <div id='btn_wrap'>
          <%=link_to_function "更新选定书籍信息","batch_update_items()",:class => 'sexybutton sexysimple sexybig sexyblue'%>
        </div>
      </div>
      <table class="table" id='items_list'>
        <%= render @taobao_books %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <%= will_paginate @taobao_books  %>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
<script type='text/javascript'>
  selector = new com.strongu.Selector(<%= @taobao_books_ids.to_json %>,'select_des');
  selector.add_check_listener('items_list');
</script>
