<div class='douban-book' id='book_<%= douban_book.isbn13 %>' style='display : none;' >
  <% remote_form_for douban_book,
    :url => taobao_book.blank? ? upload_item_taobao_books_path : update_from_douban_taobao_books_path,
    :before => "Modalbox.hide();$('ajax_#{douban_book.isbn13}').show()",
    :complete => "$('ajax_#{douban_book.isbn13}').hide()",
    :success => "$('ok_#{douban_book.isbn13}').hide()",
    :failure => "$('failure_#{douban_book.isbn13}').hide()",
    :html => {:method => :post ,:id => "dbf_#{douban_book.isbn13}"} do |f| %>
    <% if !taobao_book.blank? %>
      <%= hidden_field_tag :id,taobao_book.id %>
    <% end %>
    <%=f.hidden_field :image %>

    <h2><%= f.text_field :title, :style => 'font-size : 1.3em;' %></h2>
    <div class='wat-cf'>
      <%= image_tag douban_book.image,:class => 'book-image' %>
      <table class='book-attrs'>
        <tr>
          <td>作者:</td>
          <td><%= f.text_field :author %></td>
        </tr>
        <tr>
          <td>ISBN10:</td>
          <td><%= f.text_field :isbn10 %></td>
        </tr>

        <tr>
          <td>ISBN13:</td>
          <td><%= f.text_field :isbn13 %></td>
        </tr>
        <tr>
          <td>页数:</td>
          <td><%= f.text_field :pages %></td>
        </tr>
        <tr>
          <td>定价:</td>
          <td><%= f.text_field :price %></td>
        </tr>
        <tr>
          <td>出版社:</td>
          <td><%= f.text_field :publisher %></td>
        </tr>
        <tr>
          <td>出版时间:</td>
          <td><%= f.text_field :pubdate %></td>
        </tr>
        <tr>
          <td>装帧:</td>
          <td><%= f.text_field :binding %></td>
        </tr>
      </table>
      <% if show_operate %>
        <div class='operates'>
          <table class='select-attrs'>
            <tr>
              <td><%= check_box_tag "select_attrs[]","title",true %><%=label_tag "select_attrs[title]","书名" %></td>
              <td><%= check_box_tag "select_attrs[]","isbn13",true %><%=label_tag  "select_attrs[isbn13]","ISBN" %></td>
            </tr>
            <tr>
              <td><%= check_box_tag  "select_attrs[]","author",true  %><%=label_tag  "select_attrs[author]","作者" %></td>
              <td><%= check_box_tag  "select_attrs[]","image",true  %><%=label_tag  "select_attrs[image]","封面图片" %></td>
            </tr>
            <tr>
              <td><%= check_box_tag  "select_attrs[]","publisher",true  %><%=label_tag  "select_attrs[publisher]","出版社" %></td>
              <td><%= check_box_tag  "select_attrs[]","pubdate",true  %><%=label_tag  "select_attrs[pubdate]","出版日期" %></td>
            </tr>
            <tr>
              <td><%= check_box_tag  "select_attrs[]","pages",true  %><%=label_tag  "select_attrs[pages]","页数" %></td>
              <td><%= check_box_tag  "select_attrs[]","price",true  %><%=label_tag  "select_attrs[price]","定价" %></td>
            </tr>
            <tr>
              <td><%= check_box_tag  "select_attrs[]","binding",true  %><%=label_tag  "select_attrs[binding]","装帧" %></td>
              <td><%= check_box_tag  "select_attrs[]","summary",true  %><%=label_tag  "select_attrs[summary]","书籍介绍" %></td>
            </tr>
            <tr>
              <td><%= check_box_tag  "select_attrs[]","author_intro",true  %><%=label_tag "select_attrs[author_intro]","作者介绍" %></td>
              <td></td>
            </tr>
          </table>
          <%= f.submit  "更新到淘宝...", :id =>'btn_submit' ,:class => 'sexybutton sexysimple sexyblue' %>
        </div>
      <% end %>
    </div>
    <h3 class='border-bottom'>书籍介绍</h3>
    <%= f.text_area :summary,:size => "65x10" %>
    <h3 class='border-bottom'>作者介绍</h3>
    <%=f.text_area :author_intro,:size => "65x10" %>
  <% end %>
</div>
