<% form_remote_tag :url => {:action => :upload_item},:html => {:id =>'upload_taobao_book_form',:class => "uniForm"} do %>
  <fieldset class="blockLabels">
    <div class ='ctrlHolder'>
      <%= label_tag "taobao_book[stuff_status]","书籍类型:" %>
      <%= radio_button_tag "taobao_book[stuff_status]","new",true %>全新
      <%= radio_button_tag "taobao_book[stuff_status]","second" %>二手
      <%= radio_button_tag "taobao_book[stuff_status]","unused" %>闲置
      <p class='formHint'>
        二手及闲置书籍,数量只能为1
      </p>
    </div>

    <div class ='ctrlHolder'>
      <%= hidden_field_tag "taobao_book[cid]"%>
      <%= label_tag "taobao_book[cid]","书籍所属分类:" %>
      <%= render "item_cats/item_cat_children",:item_cat => ItemCat.find(ItemCat::BOOK_CID)%>
      <p class='formHint'>
        请设置正确的书籍分类以防止上传失败
      </p>
    </div>

    <div class='ctrlHolder' >
      <%= label_tag "taobao_book[state]","所在地:" %>
      <%= select_tag "taobao_book[state]",options_states_for_select,:onchange => remote_function(:update => 'cities_wrap',:method => :get,:with => "'id=' + value",:url => {:controller =>:provinces,:action => :children})%>
      <div id='cities_wrap' >
        <%= render "provinces/city"%>
      </div>
    </div>
    <div class='ctrlHolder' >
      <%= label_tag "taobao_book[freight_payer]","运费" %>
    </div>
    <div class='ctrlHolder' >
      <%= radio_button_tag "taobao_book[freight_payer]","seller",true,:onclick => " if(this.checked) $('post_fee_wrap').hide()" %>卖家承担运费
    </div>

    <div class='ctrlHolder' >
      <%= radio_button_tag "taobao_book[freight_payer]","buyer",false,:onclick => " if(this.checked) $('post_fee_wrap').show()" %>
      买家承担运费
    </div>
    <div id='post_fee_wrap' class='back-light-gray' style='display : none;'>
      <div class='ctrlHolder'>
        <label>
          <%= radio_button_tag "taobao_book[post_fee_type]", "postage_tmp" %>
          使用运费模板
        </label>
        <%= select_tag "taobao_book[postage_id]",options_postages_for_select %>
      </div>

      <div class='ctrlHolder'>
        <%= radio_button_tag "taobao_book[post_fee_type]", "normal",true %>
        平邮:
        <%= text_field_tag "taobao_book[post_fee]",10,:class => 'very-short-text' %>
        快递:
        <%= text_field_tag "taobao_book[express_fee]",20,:class => 'very-short-text' %>
        EMS:
        <%= text_field_tag "taobao_book[ems_fee]",30,:class => 'very-short-text' %>
      </div>
    </div>

    <div class='ctrlHolder' >
      <%= label_tag "taobao_book[list_time_type]","开始时间" %>
    </div>
    <div class='ctrlHolder' >
      <%= radio_button_tag "taobao_book[list_time_type]","immidiate",true %>立刻
    </div>
    <div class='ctrlHolder' >
      <%= radio_button_tag "taobao_book[list_time_type]","config" %>设定
      <%= calendar_date_select_tag "taobao_book[list_time]",DateTime.now,:popup => :force,:time => true%>
    </div>
    <div class='ctrlHolder' >
      <%= radio_button_tag "taobao_book[list_time_type]","instock" %>放入仓库
    </div>
    <div class='ctrlHolder' >
      <%= label_tag "taobao_book[seller_cids]","所属店铺类目:" %>
      <%= select_tag "taobao_book[seller_cids]",option_groups_seller_cats_for_select %>
    </div>
    <div class='ctrlHolder' >
      <%= check_box_tag "taobao_book[has_invoice]",1 %>提供发票
      <p class='formHint'>
        针对商城卖家,必须提供发票
      </p>
    </div>
    <div class='ctrlHolder' >
      返点比例:
      <%= text_field_tag "taobao_book[auction_point]","",:class => 'very-short-text' %>%
      <p class='formHint'>
        针对商城卖家,返点比例应为5的倍数
      </p>
    </div>

    <div class='ctrlHolder' >
      <%= check_box_tag "taobao_book[show_case]",1 %>橱窗推荐
    </div>
  </fieldset>
<% end%>

