<h1>Editing postage</h1>

<% form_for(@postage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :postage_id %><br />
    <%= f.text_field :postage_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @postage %> |
<%= link_to 'Back', postages_path %>