<h1>Listing postages</h1>

<table>
  <tr>
    <th>Postage</th>
  </tr>

<% @postages.each do |postage| %>
  <tr>
    <td><%=h postage.postage_id %></td>
    <td><%= link_to 'Show', postage %></td>
    <td><%= link_to 'Edit', edit_postage_path(postage) %></td>
    <td><%= link_to 'Destroy', postage, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New postage', new_postage_path %>