<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>快手书商-书商的好助手(<%=session[:taobao_session].top_params["visitor_nick"]%>)</title>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "live_validation" %>
    <%= javascript_include_tag "modalbox" %>
    <%= stylesheet_link_tag "web_app_theme", "live_validation","modalbox","/sexybuttons/sexybuttons", "themes/blue/style","uni-form","web_app_theme_override" %>
    <%= calendar_date_select_includes :blue %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1></h1>
        <div id='util-navigation'>
          <ul class="wat-cf">
            <li><a href="#"><%= "欢迎您:#{session[:taobao_session].top_params["visitor_nick"]}" %></a></li>
          </ul>
        </div>
        <div id="user-navigation">
          <ul class="wat-cf">
            <li></li>
          </ul>
        </div>      
        <div id="main-navigation">
          <ul class="wat-cf"> 
            <li class = "<%=active_tab('search_douban')%>">
              <%= link_to '去豆瓣查书',search_douban_taobao_books_path(:active_tab => "search_douban") %>
            </li>
            <li class="<%=active_tab('index')%>">
              <%= link_to "批量更新宝贝", taobao_books_path(:active_tab => "index")  %>
            </li>
            <li class="<%=active_tab('marks')%>">
              <%= link_to '我的收藏',douban_books_path(:active_tab => "marks")   %>
            </li>

          </ul>
        </div>
      </div>    
      <div id="wrapper" class="wat-cf">
        <div id="main">
          <div id='flash' class="flash">
            <% flash.each do |type, message| -%>
              <div class="message <%= type %>">
                <p><%= message %></p>
              </div>
            <% end -%>
          </div>
          <%= yield %>
          <div id="footer">
            <div class="block">
              <%= render "shared/footer"%>
            </div>      
          </div>
        </div>
        <div id="sidebar">
          <%= yield :sidebar %>
        </div>
      </div>    
    </div>
  </body>
</html>
